[submodule "misp-docker"]
	path = misp-docker
	url = git@github.com:MISP/misp-docker.git
[submodule "MISP"]
	path = MISP
	url = git@github.com:MISP/MISP.git
[submodule "PyMISP"]
	path = PyMISP
	url = git@github.com:MISP/PyMISP.git
